# We need GitHub to keep the endlines Windows-friendly


*.ahk eol=crlf


*.au3 eol=crlf


*.txt eol=crlf
*.resx eol=crlf
*.bise eol=crlf
*.iss eol=crlf
*.sln eol=crlf
*.csproj eol=crlf
*.cs eol=crlf
*.settings eol=crlf
